header {
    color: white;
    margin: 20px;
    height: 200px;
    text-align: center;
    background-color:palevioletred;
    border-radius: 20px;
}

.top {
  padding-top: 100px;
  position: relative;
  padding-bottom: 10px;
}

nav ul li {
    display: inline;
    padding-right:  20px !important;
    margin-right: 10px !important;
    }

.carousel-item {
  padding: 100px,200px;
  padding-left: 300px;
  height: 500px !important;
  width: 1100px !important;

}

footer ul li{
    align-content: c;
    align-items: center;
    display: inline-block;
    padding: 50px;
}

.i1,.i2,.i3{
  width:270px !important;
  border: 1px !important;
  border-color: white !important;
  font-size: 20px !important;
  padding: 30px !important;
  margin: 30px !important;
  text-align: center !important;
  display: inline-block !important;
  text-align: center !important;
  border-color: black !important;
  border-style: solid !important;
}


.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
  
}
 
 .carousel-control-next-icon {
   background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
 }


footer {
  position: sticky;
}

.ele1 {
  position: relative;
}

.btn {
  background-color: black !important;
  color: whitesmoke !important;
  border-color: black !important;
  border-width: 2px !important;
  border-radius: 6px !important;
}

.btn:hover{
  background-color: cornsilk !important;
  color: black !important;
  border-color: black !important;
  border-width: 2px !important;
  border-radius: 6px !important;
}